.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
packages/valory
packages/fetchai
leak_report
/Pipfile.lock
.env

ethereum_private_key.txt

.hypothesis/

__pycache__/

chat_completion_agent/
chat_completion_local/
chat_completion_mas/
valory_chat_agent/
valory_chat_local/
valory_chat_mas/

!packages/algovera/agents/valory_chat_agent
!packages/algovera/services/valory_chat_local
!packages/algovera/services/valory_chat_mas
.4env
