.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
packages/valory
packages/fetchai
leak_report
/Pipfile.lock
.env

chat_completion_agent/

ethereum_private_key.txt

chat_completion_local/

.hypothesis/

__pycache__/
valory_chat_agent/
valory_chat_local/
!packages/algovera/agents/valory_chat_agent
!packages/algovera/services/valory_chat_local